In [205]:
import pandas as pd
import plotly.express as px

In [206]:
avo_price = pd.read_csv('./Data/avocado.csv')
avo_price.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.3,64236.6,1036.7,54454.8,48.2,8696.9,8603.6,93.2,0.0,conventional,2015,Albany
1,1,2015-12-20,1.4,54877.0,674.3,44638.8,58.3,9505.6,9408.1,97.5,0.0,conventional,2015,Albany
2,2,2015-12-13,0.9,118220.2,794.7,109149.7,130.5,8145.4,8042.2,103.1,0.0,conventional,2015,Albany
3,3,2015-12-06,1.1,78992.1,1132.0,71976.4,72.6,5811.2,5677.4,133.8,0.0,conventional,2015,Albany
4,4,2015-11-29,1.3,51039.6,941.5,43838.4,75.8,6183.9,5986.3,197.7,0.0,conventional,2015,Albany

In [207]:
avo_price = avo_price.drop(["Unnamed: 0", "4046", "4225", "4770", "XLarge Bags", "year", "type", "Date", "region"], axis=1)

In [208]:
avo_price['AveragePrice'].max()

3.25

In [209]:
avo_price['AveragePrice'].min()

0.44

In [210]:
avo_price = avo_price.sort_values('AveragePrice')

In [211]:
avo_price = avo_price.reset_index(drop=True)
avo_price.head()

   AveragePrice  Total Volume  Total Bags  Small Bags  Large Bags
0           0.4       64057.0     59084.3       638.7     58445.6
1           0.5     2200550.3    450365.8    113752.2    330583.1
2           0.5       50890.7     46034.3      1385.1     44649.3
3           0.5       44024.0     39298.6       600.0     38698.6
4           0.5     1137707.4    100891.8     70749.0     30142.8

In [212]:
Prices = avo_price['AveragePrice']
print(Prices)

0       0.4
1       0.5
2       0.5
3       0.5
4       0.5
         ..
18244   3.0
18245   3.0
18246   3.1
18247   3.2
18248   3.2
Name: AveragePrice, Length: 18249, dtype: float64

In [213]:
def convert(integer):
    return eval(str(integer)[:3])

In [214]:
avo_price['Grouped_Price'] = avo_price['AveragePrice'].apply(convert)

In [215]:
avo_price.head()

,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,Grouped_Price
0,0.4,64057.0,59084.3,638.7,58445.6,0.4
1,0.5,2200550.3,450365.8,113752.2,330583.1,0.4
2,0.5,50890.7,46034.3,1385.1,44649.3,0.4
3,0.5,44024.0,39298.6,600.0,38698.6,0.4
4,0.5,1137707.4,100891.8,70749.0,30142.8,0.4

In [249]:
final_avo = avo_price.groupby('Grouped_Price')['Total Volume'].mean()

In [250]:
final_avo.head()

Grouped_Price
0.4    699445.9
0.5   1290083.6
0.6   1557210.9
0.7   2159308.6
0.8   2124253.8
Name: Total Volume, dtype: float64

In [251]:
pd.set_option('display.float_format', lambda x: '%0.1f' % x)

In [252]:
final_avo = final_avo.to_frame()

In [253]:
final_avo.head()
final_avo.reset_index(inplace=True)
final_avo

    Grouped_Price  Total Volume
0             0.4      699445.9
1             0.5     1290083.6
2             0.6     1557210.9
3             0.7     2159308.6
4             0.8     2124253.8
5             0.9     2153197.2
6             1.0     1974994.5
7             1.1     1135282.3
8             1.2      953235.6
9             1.3      641394.3
10            1.4      343299.7
11            1.5      285756.1
12            1.6      252888.1
13            1.7      170253.4
14            1.8       81204.6
15            1.9       49144.4
16            2.0       43348.3
17            2.1       30989.6
18            2.2       24502.0
19            2.3       17447.9
20            2.4       20735.2
21            2.5       17756.4
22            2.6       11854.2
23            2.7       11691.2
24            2.8       12942.5
25            2.9       11958.8
26            3.0        9702.1
27            3.1       11031.2
28            3.2       16700.9

In [255]:
fig = px.scatter(final_avo, x="Grouped_Price",
	         size ="Total Volume",
                 hover_name="Total Volume", log_x=True, size_max=60)
fig.show()